/* Reseteo general */
* {
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: black;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between; /* Espacia los elementos */
  align-items: center;
}

/* Menu */
nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex; /* Asegura que los elementos de la lista estén en línea horizontalmente */
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  padding: 40px;
}

.text-content {
  display: flex;
  flex-direction: column; /* Coloca los elementos internos en columna */
  max-width: 1000px; /* Limita el ancho del texto para mejor lectura */
}

.text-content h1,
.text-content p {
  margin: 0;
  padding: 20px;
}

.text-content img {
  justify-content: flex-end; /* Alinea el contenido al final del contenedor (derecha) */
}

.button {
  display: flex;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: blue;
  text-decoration: none; /* Elimina el subrayado del enlace */
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
  border: none; /* Elimina el borde del botón, si es un <button> */
  margin-inline: auto;
  width: 100px;
}

.button:hover {
  background-color: grey;
}

.content {
  background-color: #f4f4f4;
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

.images h2 {
  display: flex;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  justify-content: space-around; /* Espacia los tooltips de manera uniforme */
  gap: 50px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tooltip-container {
  position: relative; /* Posiciona el tooltip correctamente en relación a la imagen */
  display: inline-block; /* Permite que el contenedor tenga solo el ancho necesario */
}

.tooltip-image {
  display: block; /* Asegura que la imagen se muestre como un bloque */
}

.tooltip-text {
  visibility: hidden; /* Oculta el tooltip por defecto */
  width: 150px; /* Ancho del tooltip */
  background-color: black;
  color: white;
  text-align: center; /* Centra el texto dentro del tooltip */
  border-radius: 5px;
  padding: 5px; /* Espaciado interno del tooltip */
  position: absolute; /* Posiciona el tooltip de manera absoluta */
  z-index: 1; /* Asegura que el tooltip esté encima del contenido */
  bottom: 125%; /* Posiciona el tooltip arriba de la imagen */
  left: 50%; /* Centra el tooltip horizontalmente */
  margin-left: -75px; /* Ajusta el tooltip horizontalmente */
  opacity: 0; /* Hace que el tooltip sea invisible */
  transition: opacity 0.3s; /* Transición suave para la aparición del tooltip */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible; /* Muestra el tooltip cuando se pasa el ratón */
  opacity: 1; /* Hace que el tooltip sea visible */
}

footer {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  nav ul {
    text-align: center;
    padding: 0;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .hero {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .content {
    padding: 15px;
  }
}

/* Estilos para pantallas grandes (desktops) */
@media (min-width: 1025px) {
  .content {
    padding: 20px;
  }
}
